<h1>Short Link history</h1>
<%= link_to "Create New Shortlink", new_short_link_path %>
<ul>
  <% @short_links.each do |short_link| %>
  <li>Shortlink for <%= short_link.original_link %>: <%= link_to short_link.shortened_link, short_link.shortened_link %></li>
  <% end %>
</ul>
